@model List<Article>
@{
    ViewData["Title"] = "maidan.";
    List<Article> Articles = Model.OrderByDescending(a => a.NumberOfReads).Take(100).ToList();
    List<Author> authors = ViewBag.Authors;
}
<!-- Begin Site Title
================================================== -->

<div class="row rounded-pill" style="height:20rem; background-color:#FFC017">
    <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="row m-3">
            <h1>Stay curious.</h1>
        </div>
        <div class="row m-3">
            <h2>Discover stories, thinking, and expertise from writers on any topic.</h2>
        </div>
        <div class="row m-3">
            <div class="col-md-4">
                <form>
                    <input asp-action="SignUp" type="submit" class="btn btn-dark rounded-pill btn-block" value="Join Maidan" asp-controller="Home" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img />
    </div>
</div>
<!-- End Site Title
================================================== -->

<div class="container my-2">
    <h2>Trending on Ma<span style="color:#FFC017">i</span>dan.</h2>
    <hr />
</div>
<div class="container my-2">
    @{
        foreach (var item in Articles)
        {
            <div class="card my-4">
                <div class="card-header">
                    <a asp-action="GetAuthor" asp-route-userName=""><img src="/images/authorImages/@item.Image" width="20" class="rounded-circle" />@item.AuthorId</a>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-body">
                            <a asp-action="GetArticle" asp-route-id="@item.Id"><h5 class="card-title">@item.Title</h5></a>
                            <p class="card-text">
                                @{
                                    if (item.Content.Length > 500)
                                    {
                                        @item.Content.Substring(0,500)<text>...</text>
                                    }
                                    else
                                    {
                                        @item.Content
                                    }
                                }
                            </p>
                            <a asp-action="GetArticle" class="btn btn-primary" asp-route-id="@item.Id">Go Article</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a asp-action="GetArticle" asp-route-id="@item.Id"><img src="/images/articleImages/@item.Image" class="w-100" /></a>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    <div class="row d-flex justify-content-around">
                        <div class="col-md-4">
                            <small class="text-muted">@item.NumberOfReads Views</small>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">Last updated @(Convert.ToInt32((DateTime.Now - item.UpdateDate).TotalMinutes)) mins ago</small>
                        </div>
                        <div class="col-md-4 text-right">
                            <a asp-action="Index" class="btn-block"><i class="fa-regular fa-comment"></i></a>
                            <i class="fa-regular">45</i>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row my-4 text-center">
        <div><a class="btn btn-warning btn-block rounded-pill" asp-action="SignUp">Do you want see a more articles? Let's join us!'</a></div>
    </div>
</div>

