@model List<Article>
@{
    ViewData["Title"] = "maidan.";
    List<Article> lastSixArticles = Model.OrderByDescending(a => a.UpdateDate).Take(6).ToList();
    List<Article> top10Articles = Model.OrderByDescending(a => a.NumberOfReads).Take(10).ToList();
    List<Author> authorsOfTopTenArticles = ViewBag.AuthorsOfTopTenArticles;
    List<Author> authorsOfLastSixArticles = ViewBag.AuthorsOfLastSixArticles;
}
<!-- Begin Site Title
================================================== -->

<div class="row rounded-pill" style="height:20rem; background-color:#FFC017">
    <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="row m-3">
            <h1>Stay curious.</h1>
        </div>
        <div class="row m-3">
            <h2>Discover stories, thinking, and expertise from writers on any topic.</h2>
        </div>
        <div class="row m-3">
            <div class="col-md-4">
                <form>
                    <input asp-action="SignUp" type="submit" class="btn btn-dark rounded-pill btn-block" value="Join Maidan" asp-controller="Home" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img />
    </div>

</div>
<!-- End Site Title
================================================== -->

<div class="container my-2">
    <h2>Trending on Ma<span style="color:#FFC017">i</span>dan.</h2>
    <hr />
</div>
<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            @{
                int i = 0;
                foreach (var item in top10Articles)
                {
                    <div class="card my-4">
                        <div class="card-header">
                            <img src="~/images/authorImages/@authorsOfTopTenArticles[i].Photo" width="20" class="rounded-circle" /> @authorsOfTopTenArticles[i].UserName
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card-body">
                                    <a asp-action="GetArticle" asp-route-id="@item.Id"><h5 class="card-title">@item.Title</h5></a>
                                    <p class="card-text">
                                        @{
                                            if (item.Content.Length > 500)
                                            {
                                                @item.Content.Substring(0,500)<text><a asp-action="GetArticle" asp-route-id="@item.Id">...</a></text>
                                            }
                                            else
                                            {
                                                @item.Content
                                            }
                                        }
                                    </p>
                                    <a asp-action="GetArticle" class="btn btn-primary" asp-route-id="@item.Id">Go Article</a>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex justify-content-center align-items-center">
                                <a asp-action="GetArticle" asp-route-id="@item.Id"><img src="/images/articleImages/@item.Image" class="w-100" /></a>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row d-flex justify-content-around">
                                <div class="col-md-4">
                                    <small class="text-muted">@item.NumberOfReads Views</small>
                                </div>
                                <div class="col-md-4">
                                    <small class="text-muted">Last updated @(Convert.ToInt32((DateTime.Now - item.UpdateDate).TotalMinutes)) mins ago</small>
                                </div>
                                <div class="col-md-4 text-right">
                                    <a asp-action="Index" class="btn-block"><i class="fa-regular fa-comment"></i></a>
                                    <i class="fa-regular">45</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
    
    <div class="row my-2 text-center">
        <div><a class="btn btn-primary btn-block" asp-action="AllArticles">Load More Articles</a></div>
    </div>
</div>

<!-- Begin Featured
================================================== -->
<section class="featured-posts my-4">
    <div class="section-title">
        <h2><span>Hot Reload Posts</span></h2>
    </div>
    <div class="card-columns listfeaturedtag">
        @{
            
            if (lastSixArticles != null)
            {
                int j = 0;
                foreach (Article article in lastSixArticles)
                {
                    <div class="card m-2">
                        <div class="row">
                            <div class="col-md-4 wrapthumbnail">
                                <a asp-action="GetArticle" asp-route-id="@article.Id">
                                    <div class="thumbnail" style="background-image:url(/images/articleImages/@article.Image);">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-block">
                                    <h2 class="card-title"><a asp-action="GetArticle" asp-route-id="@article.Id">@article.Title</a></h2>
                                    <h4 class="card-text">
                                        @{
                                            if (@article.Content.Length > 150)
                                            {
                                                @article.Content.Substring(0, 150)<text>...</text>
                                            }
                                            else
                                            {
                                                @article.Content
                                            }
                                        }

                                    </h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <a asp-action="GetAuthor" asp-route-userName="@authorsOfLastSixArticles[j].UserName" asp-controller="Home"><img class="author-thumb" src="/images/authorImages/@authorsOfLastSixArticles[j].Photo" alt="Author Avatar"></a>
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a asp-action="GetAuthor" asp-route-userName="@authorsOfLastSixArticles[j].UserName" asp-controller="Home">@authorsOfLastSixArticles[j].UserName</a></span><br />
                                                <span class="post-date">@article.ReleaseDate.ToShortDateString()</span><span class="dot"></span><span class="post-read">@article.NumberOfReads.ToString()<span> Views</span></span>
                                            </span>
                                            <span class="post-read-more"><a asp-action="GetArticle" asp-route-id="@article.Id" title="Read Story"><i class="bi bi-bookmark fa-lg"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    j++;
                }
            }

        }
        <!-- end post -->
    </div>
</section>
<!-- End Featured
================================================== -->