@model List<Article>
@{
    ViewData["Title"] = "All Articles";
    Layout = "_Layout";
    List<Author> allAuthors = ViewBag.Authors;

}
<div class="container my-2 text-center">
    <h2>Articles on Ma<span style="color:#FFC017">i</span>dan.</h2>
    <hr />
</div>
<div class="container my-2">
    @{
        int i = 0;
        foreach (var item in Model)
        {
            <div class="card my-4">
                <a asp-action="GetAuthor" asp-route-userName="@allAuthors[i].UserName"><img src="/images/authorImages/@allAuthors[i].Photo" width="20" class="rounded-circle" /> @allAuthors[i].UserName</a>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-body">

                            <a asp-action="GetArticle" asp-route-id="@item.Id"><h5 class="card-title">@item.Title</h5></a>
                            <p class="card-text">
                                @{
                                    if (item.Content.Length > 500)
                                    {
                                        @item.Content.Substring(0,500)

                                        <text>...</text>
                                    }
                                    else
                                    {
                                        @item.Content
                                    }
                                }
                            </p>
                            <div><a asp-action="GetArticle" class="btn btn-primary" asp-route-id="@item.Id">Go Article</a></div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center row d-flex justify-content-center align-items-center">
                        <a asp-action="GetArticle" asp-route-id="@item.Id"><img src="/images/articleImages/@item.Image" class="w-50 rounded-3" /></a>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    <div class="row d-flex justify-content-around">
                        <div class="col-md-4">
                            <small class="text-muted">@item.NumberOfReads Views</small>
                        </div>
                        <div class="col-md-4">
                            <small class="text-muted">Last updated @(Convert.ToInt32((DateTime.Now - item.UpdateDate).TotalMinutes)) mins ago</small>
                        </div>
                        <div class="col-md-4 text-right">
                            <a asp-action="Index" class="btn-block"><i class="fa-regular fa-comment"></i></a>
                            <i class="fa-regular">45</i>
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
    }
    <div class="row my-4 text-center">
        <div><a class="btn btn-warning btn-block rounded-pill" asp-action="Index">Back To Home</a></div>
    </div>
</div>
