@model Maidan.ViewModels.MyProfileViewModel

@{
    ViewData["Title"] = Model.UserName;
    string authorPhoto=ViewBag.AuthorPhoto;
}

<div class="container">
    <div class="row text-center m-4">
    <h4>@Model.UserName</h4>
    <hr />
    </div>
    <div class="row m-4">
        <dl class="row">
            <dt class="col-sm-0">
                
            </dt>
            <dd class="col-sm-12 text-center m-4">
                <img src="/images/authorImages/@authorPhoto" width="100" class="rounded-circle w-25" />
            </dd>
            <hr/>
            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-8 m-4">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8 m-4">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8 m-4">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.Bio)
            </dt>
            <dd class="col-sm-8 m-4">
                @Html.DisplayFor(model => model.Bio)
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.GithubUrl)
            </dt>
            <dd class="col-sm-8 m-4">
                <a href="https://www.github.com/@Model.GithubUrl"><i class="bi bi-github fa-lg"></i></a>
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.LinkedInUrl)
            </dt>
            <dd class="col-sm-8 m-4">
                <a href="https://www.linkedin.com/@Model.LinkedInUrl"><i class="bi bi-linkedin fa-lg"></i></a>
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.TwitterUrl)
            </dt>
            <dd class="col-sm-8 m-4">
                <a href="https://www.twitter.com/@Model.TwitterUrl"><i class="bi bi-twitter fa-lg"></i></a>
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.InstagramUrl)
            </dt>
            <dd class="col-sm-8 m-4">
                <a href="https://www.instagram.com/@Model.InstagramUrl"><i class="bi bi-instagram fa-lg"></i></a>
            </dd>
            <hr />

            <dt class="col-sm-2 m-4">
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </dt>
            <dd class="col-sm-8 m-4">
                <a href="@Model.WebsiteUrl"><i class="bi bi-globe fa-lg"></i></a>
            </dd>
            <hr />

        </dl>
    </div>

</div>
<div>
    <a asp-action="AuthorArticles" asp-route-userName="@Model?.UserName">@Model.UserName<text>'s Articles</text></a> |
    <a asp-action="Index">Back to Reading</a>
</div>


