@model Article
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    Author author = ViewBag.Author;
}

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Begin Fixed Left Share -->
        <div class="col-md-2 col-xs-12">
            <div class="share">
                <p>
                    Share
                </p>
                <ul>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/feed/">
                            <i class="bi bi-linkedin fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/compose/tweet">
                            <i class="bi bi-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com">
                            <i class="bi bi-instagram fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com">
                            <i class="bi bi-facebook fa-lg"></i>
                        </a>
                    </li>
                </ul>
                <div class="sep">
                </div>
                <p>
                    Talk
                </p>
                <ul>
                    <li>
                        <a href="#comments">
                            42<br />
                            <i class="fa-regular fa-comment fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Fixed Left Share -->
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="mainheading">

                <!-- Begin Top Meta -->
                <div class="row post-top-meta">
                    <div class="col-md-2">
                        <a asp-action="GetAuthor" asp-route-userName="@author.UserName"><img class="author-thumb" src="/images/authorImages/@author.Photo" alt="Author Image"></a>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="text-left">
                            <a class="link-dark m-2" asp-action="GetAuthor" asp-route-userName="@author.UserName">@author.UserName</a>
                            <a href="#" class="btn follow m-2">Follow</a>
                            </div>
                        </div>
                        <div class="row">
                            <span class="author-description">@{
                                    if (author.Bio==null)
                                    {
                                        @("")
                                    }
                                    else if (author.Bio.Length > 300)
                                    {
                                        @author.Bio.Substring(0,300)
                                        <text><a asp-action="GetAuthor" asp-route-userName="@author.UserName">...</a></text>
                                    }
                                    else
                                    {
                                        @author.Bio
                                    }
                            }</span>
                        </div>
                        <div class="row">
                            <div class="post-date">@Model.ReleaseDate.ToShortDateString()<span class="dot"></span><span>@Model.NumberOfReads.ToString()<span></span>Views</span></div>
                            
                        </div>
                        
                    </div>
                </div>

                <!-- End Top Menta -->

                <h1 class="posttitle">@Model.Title</h1>
                <hr />
                <img class="featured-image img-fluid w-50" src="/images/articleImages/@Model.Image" alt="">

                <!-- Begin Post Content -->
                <div class="article-post">
                    <p>@Model.Content</p>
                </div>
                <!-- End Post Content -->
                <div class="after-post-tags">
                        @{
                            foreach (Tag item in Model.Tags)
                            {
                                <a asp-action="TagArticles" asp-route-id="@item.Id">@item.Name</a>
                            }
                        }
                </div>
            </div>
        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->
<!-- Begin Post -->


<div class="hideshare"></div>

<!-- Begin Related
================================================== -->
<div class="graybg">
    <div class="container">
        <div class="row listrecent listrelated">
            @{
                foreach (Article article in ViewBag.Top3Articles as List<Article>)
                {
                    <!-- begin post -->
                    <div class="col-md-4 border border-warning rounded-3">
                        <div class="card ">
                            <div class="card-header">
                            </div>
                            <div class="text-center  ">
                                <a asp-action="GetArticle" asp-route-id="@article.Id">
                                    <img class="img-fluid img-thumb w-50" style="height:stretch" src="/images/articleImages/@article.Image" alt="">
                                </a>
                            </div>
                            <div class="card-block">
                                <h2 class="card-title"><a asp-action ="GetArticle" asp-route-id="@article.Id">@article.Title</a></h2>
                                <hr/>
                                <p>@{
                                        if (article.Content.Length>20)
                                        {
                                            @article.Content.Substring(0,20)<text>...</text>
                                        }
                                        else
                                        {
                                            @article.Content
                                        }
                                }
                                
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="meta-footer-thumb">
                                            <a asp-action="GetAuthor" asp-route-userName="@author.UserName"><img class="author-thumb" src="/images/authorImages/@author.Photo" alt="Author Image"></a>
                                        </span>
                                        <span class="author-meta">
                                            <span class="post-name"><a asp-action="GetAuthor" asp-route-userName="@author.UserName">@author.UserName</a></span><br />
                                            <span class="post-date">@article.ReleaseDate.ToShortDateString()</span><span class="dot"></span><span class="post-read">@article.NumberOfReads.ToString()<span>Views</span></span>
                                        </span>
                                        <span class="post-read-more"><a asp-action="GetArticle" asp-route-id="@article.Id" title="Read Story"><i class="bi bi-bookmark fa-lg"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end post -->
                }
            }
        </div>
    </div>
</div>
<!-- End Related Posts
================================================== -->
<div class="row">
    <a class="btn btn-block rounded-pill" style="background-color:#ffc017">Load More Articles</a>
</div>
