@model MyProfileViewModel
<style>
    #tags {
        padding: 0 20px
    }

        #tags:last-child {
            border-bottom: 1px solid #BBB;
        }

        #tags > input {
            display: none;
        }

        #tags i {
            display: inline-block;
            float: right;
            padding: 2px;
            width: 40px;
            height: 20px;
            border-radius: 13px;
            vertical-align: middle;
            -webkit-transition: .25s .09s;
            transition: .25s .09s;
            position: relative;
            background: #d8d9db;
            box-sizing: initial;
        }

            #tags i:after {
                content: " ";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                left: 2px;
                -webkit-transition: .25s;
                transition: .25s;
            }

        #tags > input:checked + i {
            background: #4bd865;
        }

            #tags > input:checked + i:after {
                -webkit-transform: translateX(20px);
                transform: translateX(20px);
            }

        #tags:hover {
            cursor: pointer;
        }
</style>


@{
    ViewData["Title"] = "MyProfile";
}
@{
    if (TempData["Message"] != null && (TempData["Message"]).ToString().ToLower().Contains("success"))
    {
        <div class="alert alert-success">
            <h3>@TempData["Message"]</h3>
        </div>
    }
    else if (TempData["Message"] != null && (TempData["Message"]).ToString().ToLower().Contains("fail"))
    {
        <div class="alert alert-danger">
            <h3>@TempData["Message"]</h3>
        </div>
    }
}
@{
    if (TempData["ChangePassword"] != null && (TempData["ChangePassword"]).ToString().ToLower().Contains("success"))
    {
        <div class="alert alert-success">
            <h3>@TempData["ChangePassword"]</h3>
        </div>
    }
    else if (TempData["ChangePassword"] != null && (TempData["ChangePassword"]).ToString().ToLower().Contains("error"))
    {
        <div class="alert alert-danger">
            <h3>@TempData["ChangePassword"]</h3>
        </div>
    }
}
@{
    var photoPath = "default-author-image.png";
    if (Model.Photo!=null)
    {
        photoPath = Model.Photo;
    }
}

<h1 class="text-center">Your Profile Informations</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MyProfile" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/authorImages/@photoPath" width="100" class="rounded-circle"/>
                    </div>
                    <div class="col-md-8">
                        <label for="photo" class="control-label">Choose Photo</label>
                        <input id="photo" name="photo" type="file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubDomain" class="control-label"></label>
                <input asp-for="SubDomain" class="form-control" />
                <span asp-validation-for="SubDomain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GithubUrl" class="control-label"></label>
                <input asp-for="GithubUrl" class="form-control" />
                <span asp-validation-for="GithubUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedInUrl" class="control-label"></label>
                <input asp-for="LinkedInUrl" class="form-control" />
                <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterUrl" class="control-label"></label>
                <input asp-for="TwitterUrl" class="form-control" />
                <span asp-validation-for="TwitterUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramUrl" class="control-label"></label>
                <input asp-for="InstagramUrl" class="form-control" />
                <span asp-validation-for="InstagramUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h3>Your Interests</h3>
                <ul class="list-unstyled">
                    @{
                        foreach (var item in Model.Tags)
                        {
                            <li class="btn btn-info rounded-pill">@item.Name</li>
                        }
                    }
                </ul>
            </div>
            <div class="form-group">
                <label id="tags" class="mb-1">
                    <span style="padding-right:10px">Choose All / Clear</span>
                    <input type="checkbox" id="chooseAll" /><i></i>
                </label>
                <select name="TagsList"
                        id="select2"
                        multiple="multiple"
                        class="form-control"
                        asp-items="ViewBag.Tags"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*<div class="row">
    <a asp-action="ChangePassword" asp-controller="Member" asp-route-id="@Model.Id">Do you want a change password?</a>
</div>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(function () {
        //select2 eklentimizin tanımı
        $('#select2').select2();
        //hepsiniSec kodlarımız
        $("#chooseAll").on("click", function () {
            if ($(this).is(':checked')) {
                $("#select2 > option").prop("selected", "selected");
                $("#select2").trigger("change");
            }
            else {
                $("#select2 > option").removeAttr("selected");
                $("#select2").trigger("change");
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
